{{template "base" .}} {{define "content"}}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>This is About page</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem quo
        nostrum inventore eligendi cupiditate, earum eveniet totam cumque
        officiis explicabo facilis non maxime quos consequatur amet omnis
        perferendis odit officia molestias unde minima dolores a fugit? Illo
        error corporis aliquid nisi eveniet! Accusamus similique placeat
        corrupti quidem unde quas at.
      </p>
    </div>
  </div>
</div>

{{end}}
